<!DOCTYPE html>
<html>

  <head>
  
    <title><%= title %></title>
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href='/css/bootstrap-responsive.css'>
	<link rel='stylesheet' href='/css/style.css'>
	<script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
	<script type="text/javascript" src='/js/skrypty.js'></script>

  </head>
  
  <body>
  
    <h1><%= title %></h1>
    <p>Czy chcesz zagrać w <%= title %> sam czy z innymi graczami?</p>

	<br />
	<div id="pchleki"></div>

	<button type="button" id="sam1" class="btn" onclick="mySam()">Sam</button>
	<button type="button" id="multi1" class="btn" onclick="myMulti()">Z innymi graczami</button>
	<br />
	<br />
	
	<div id="sam"></div>
	<div id="multi"></div>
	<br />

	<div id="pole_gry"></div>
	<br />
	<br />
		
  </body>
  
</html>