h1{
text-align: center;
color: #8B7765;
text-shadow: #8B795E 0.1em 0.1em 0.2em;
}

p{
margin-left: 5%;
color: #8B795E;
}

body{
background-color: #FDF5E6;
background-size: cover;
}

div{
margin-left: 5%;
color: #8B795E;
position: absolute;
}

button{
margin-left: 7%;
}

#gamefield{
border: #8B7765 solid 2px;
background: url('/img/tlo.jpg');
background-size: cover;
width:400px;
height:400px;
-moz-box-shadow: 0 0 5px 5px #8B795E;
-webkit-box-shadow: 0 0 5px 5px #8B795E;
box-shadow: 0 0 5px 5px #8B795E;
}

#pole_gry{

width:500px;
height:500px;
margin-left: 32%;

}

#pchla5, #pchla3, #pchla6{
display: inline;
background-color:#EE6363;
width:22px;
height:22px;
border-radius: 50%;
margin-left: 0px;
position: relative;
-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;
}

#pchla1, #pchla9, #pchla2{
display: inline;
background-color:#EE6363;
width:22px;
height:22px;
border-radius: 50%;
margin-left: 0px;
position: relative;
-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;
}

#pchla7, #pchla4, #pchla8{
display: inline;
background-color:#EE6363;
width:22px;
height:22px;
border-radius: 50%;
margin-left: 0px;
position: relative;
-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;
}

/*#pudlo{
background-color:#FBDBAE;
width:100px;
height:100px;
position: relative;
margin-left:150px;
margin-right:150px;
top:150px;
-moz-box-shadow: 0 0 2px 2px #FFCC99;
-webkit-box-shadow: 0 0 2px 2px #FFCC99;
box-shadow: 0 0 2px 2px #FFCC99;
}*/