h1{
text-align: center;
color: #8B7765;
text-shadow: #8B795E 0.1em 0.1em 0.2em;
}

p{
margin-left: 5%;
color: #8B795E;
}

body{
background-color: #FDF5E6;
background-size: cover;
}

div{
margin-left: 5%;
color: #8B795E;
position: absolute;
}

button{
margin-left: 7%;
}

#gamefield{
border: #8B7765 solid 2px;
background: url('/img/tlo.jpg');
background-size: cover;
width:400px;
height:400px;
-moz-box-shadow: 0 0 5px 5px #8B795E;
-webkit-box-shadow: 0 0 5px 5px #8B795E;
box-shadow: 0 0 5px 5px #8B795E;
}

#pole_gry{
width:500px;
height:500px;
margin-left: 32%;
}

.pchla{
width: 15px;
height: 15px;
border: solid 1px #EE6363;
}

#pchla5{
display: inline-block;
background-color:#EE6363;
border-top-left-radius: 100%;
margin-left: 0px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}

 #pchla3{
display: inline-block;
background-color:#EE6363;
margin-left: 15px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}

#pchla6{
display: inline-block;
background-color:#EE6363;
border-top-right-radius: 100%;
margin-left: 30px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}

#pchla1{
display: inline-block;
background-color:#EE6363;
margin-left: 0px;
margin-top: 15px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}

#pchla9{
display: inline-block;
background-color:#EE6363;
margin-left: 15px;
margin-top: 15px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}

#pchla2{
display: inline-block;
background-color:#EE6363;
margin-left: 30px;
margin-top: 15px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}

#pchla7{
display: inline-block;
background-color:#EE6363;
border-bottom-left-radius: 100%;
margin-left: 0px;
margin-top: 30px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}

#pchla4{
display: inline-block;
background-color:#EE6363;
margin-left: 15px;
margin-top: 30px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}

#pchla8{
display: inline-block;
background-color:#EE6363;
border-bottom-right-radius: 100%;
margin-left: 30px;
margin-top: 30px;
/*-moz-box-shadow: 0 0 5px 5px #CD5555;
-webkit-box-shadow: 0 0 5px 5px #CD5555;
box-shadow: 0 0 5px 5px #CD5555;*/
}